@import url(//fonts.googleapis.com/css?family=Ropa+Sans:400,400italic);

#enrol_assistant .liste01 {
    font-size			: 10px;
    font-weight			: normal;
    color				: #666666;
}

#enrol_assistant .liste02 {
    font-size			: 10px;
    font-weight			: normal;
    color				: #0099CC;
}

#enrol_assistant a:link {
    color				: #0099CC;
    text-decoration		: none;
}

#enrol_assistant a:visited {
    color				: #0099CC;
    text-decoration		: none;
}

#enrol_assistant a:active {
    color				: #0099CC;
    text-decoration		: underline;
}

#enrol_assistant a:hover {
    color				: #0099CC;
    text-decoration		: underline;
}

#enrol_assistant #header_div {
    width				: 940px;
    background-color	: #EAEAEA;
    border				: 1px dotted #000000;
    font-family			: 'Ropa Sans';
    font-size 			: 24px;
    font-weight			: bold;
    padding-left		: 20px;
    padding-top			: 20px;
    padding-bottom		: 20px;
}

#enrol_assistant .table01 {
    font-weight			: bold;
    color				: #000000;
    border				: 1px dotted #000000;
}

#enrol_assistant .table02 {
    border				: 1px dotted #000000;
}

#enrol_assistant .button01 {
    font-weight			: bold;
    font-size			: 10px;
    color				: #000000;
    border				: 1px solid #CCCCCC;
    background-color	: #FFFFFF;
}

#enrol_assistant #setzero {
    padding-top			: 3px;
    padding-bottom		: 3px;
    width				: 300px;
    font-weight			: bold;
    font-size			: 10px;
    color				: #000000;
    border				: 0;
    background-color	: #FFFFFF;
}

#enrol_assistant #navileiste {
    position            : absolute;
    background-color    : #C4E1FF;
    width               : 180px;
    height              : 400px;
    padding             : 12px;
    border              : 1px dotted #000000;
    margin-left         : 870px;
    margin-top          : 78px;
    z-index             : 1;
}
